{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}" />

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="history.back()">Back</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'student_resultat' %}">Resultat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'student_emploi' %}">Emploi</a>
        </li>
      </ul>
      <span class="navbar-text mx-auto"> Bienvenue {{ user }} </span>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <form class="form-inline" action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{% url 'home' %}" />
            <button class="btn btn-outline-danger" type="submit">Logout</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
